doctype html
html
  head
    title= `Front End`
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .content
      block content
        p This is the default!

    block scripts
      script(src=`https://maps.googleapis.com/maps/api/js?key=xxx`)